.about-us__wrapper {

  @media (min-width: $desktop-width) {
    padding: 0 50px 0 225px;
  }
}

.about-us__title {
  margin-bottom: 82px;
  font-family: $default-font;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;
  margin-bottom: 58px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.about-us__item {
  position: relative;
  margin-bottom: 83px;
  font-family: $default-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 50%;
    margin-rigth: 80px;
    margin-bottom: 110px;
  }

  &--eco {
    @media (min-width: $tablet-width) {

    }
  }

  &--price {
    @media (min-width: $tablet-width) {

    }
  }

  &--like {
    @media (min-width: $tablet-width) {

    }
  }

  &--quality {
    @media (min-width: $tablet-width) {

    }
  }

  &--country {
    @media (min-width: $tablet-width) {

    }
  }

  &--packaging {
    @media (min-width: $tablet-width) {

    }
  }
}
