.about-us {
  padding-top: 38px;
  padding-bottom: 38px;

  background-image: url("../img/small-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;


  @media (min-width: $tablet-width) {
    padding-bottom: 80px;
    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 68px;
    padding-bottom: 90px;
    background-image: none;
  }
}

.about-us__wrapper {
  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.about-us__title {
  position: relative;
  margin: 0 0 83px 0;
  font-family: $default-font;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about-us__list {
  @include list-reset;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  :last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.about-us__item {
  position: relative;
  margin-bottom: 83px;
  font-family: $default-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 38px;
    top: -50px;
    left: 0;
    background-repeat: no-repeat;
  }

  &--eco::after {
    background-image: url("../img/icon-flower.svg");
  }

  &--price::after {
    background-image: url("../img/icon-money.svg");
  }

  &--like::after {
    background-image: url("../img/icon-heart.svg");
  }

  &--quality::after {
    background-image: url("../img/icon-ball.svg");
  }

  &--country::after {
    background-image: url("../img/icon-rocket.svg");
  }

  &--packaging::after {
    background-image: url("../img/icon-gift.svg");
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 40%;
    margin-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }

  &--eco {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--price {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--like {
    @media (min-width: $tablet-width) {
      order: 5;
    }
  }

  &--quality {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--country {
    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &--packaging {
    @media (min-width: $tablet-width) {
      order: 6;
    }
  }
}
