.card {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 42px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
    padding-top: 54px;
    grid-column-gap: 58px;
    padding-bottom: 73px;
  }
}

.card__status {
  margin-bottom: 17px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: $based-cyan-2;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 100px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    top: 60px;
    left: 0;
  }
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.card__description {
  margin: 0 0 28px 0;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 48px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.card__list {
  @include list-reset;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margint-bottom: 57px;

  }
  @media (min-width: $desktop-width) {
    margin-bottom: 109px;
  }
}

.card__item {
  display: flex;
  font-size: 15px;
  line-height: 20px;
  color: $based-gray-2;
  border-bottom: 1px solid $based-gray-1;
  min-height: 20px;
}

.card__term {
  width: 20%;
}

.card__term,
.card__definition {
  padding: 16px 0;
}

.card__price {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {

  }
}

.card__button {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;

  }

  @media (min-width: $desktop-width) {

  }
}

.card__picture {
  margin-bottom: 25px;
  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 2/6;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/6;
  }
}
