.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 525px;
    padding-top: 70px;
    padding-bottom: 90px;
    padding-left: 175px;

    background-image: url("../img/small-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
    background-position: bottom;
  }
}

.card__title-wrapper {
  position: relative;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    margin-bottom: 35px;
    padding-top: 64px;
  }
}

.card__status {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $based-cyan-2;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 13px;
    top: 3px;
    width: 100px;
    margin: 0;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    left: -145px;
    top: 69px;
    right: auto;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
    padding-right: 130px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.card__description {
  margin: 0 0 18px 0;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 37px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.card__list {
  @include list-reset;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 57px;
    padding-right: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 112px;
    padding-right: 58px;
  }
}

.card__item {
  display: flex;
  min-height: 20px;
  padding: 9px 0 10px 0;
  font-size: 15px;
  line-height: 21px;
  color: $based-gray-2;
  border-bottom: 1px solid $based-gray-1;
}

.card__term {
  width: 20%;
}

.card__definition {
  margin-left: 46px;

  @media (min-width: $tablet-width) {
    margin-left: 39px;
  }
}

.card__price {
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    margin-bottom: 34px;
    padding-left: 72px;
    text-align: start;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__button {
  display: block;
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    width: auto;
    margin: 0 42px 0 0;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    align-self: flex-start;
    width: auto;
    margin: 0 58px 0 0;
  }
}

.card__picture {
  width: 100%;
  height: 100%;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    object-fit: cover;
  }
}

.card__picture-wrapper {
  height: 315px;
  margin-bottom: 26px;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-self: end;
    grid-column: 2/3;
    grid-row: 2/6;
    height: 404px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/6;
    height: auto;
    justify-content: flex-end;
    align-self: start;
  }
}
