.contacts {
  padding-bottom: 40px;
  padding-top: 45px;

  background-image: url("../img/small-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: top;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    padding-top: 86px;
    background-size: auto 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 105px;
    background-image: none;
  }
}

.contacts__link {
  padding-bottom: 2px;
  padding-right: 12px;
  color: $based-gray-2;
  border-bottom: 1px solid $based-cyan-3;

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }

  &:hover {
    color: $based-cyan-4;
  }

  &:active {
    color: rgba($based-cyan-4, 0.1);
    border: none;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto calc(100% - 350px);
    padding-left: 225px;
    padding-top: 90px;
    background-image: url("../img/small-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
    background-position: top;
  }
}

.contacts__title {
  margin: 0 0 28px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: $black;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 0 50px 0;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    padding-top: 79px;
    margin-bottom: 20px;
    padding-right: 20px;
    font-size: 53px;
    line-height: 57px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      right: 3px;
      top: -23px;
      width: 47px;
      height: 81px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      left: -111px;
      top: 63px;
    }
  }
}

.contacts__info {
  @include list-reset;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 62px;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    align-self: start;
    padding-right: 20px;
  }
}

.contacts__item {
  &--email {
    margin-bottom: 30px;

    @media (min-width: $desktop-width) {
      margin-bottom: 30px
    }
  }

  &--email,
  &--address {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      width: 50%;
    }

    @media (min-width: $desktop-width) {
      width: auto;
    }
  }
}

.contacts__map {
  display: block;
  height: 455px;
  margin: 0 -30px;
  margin-bottom: 40px;

  iframe {
    border:none;
    width: 100%;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    margin: 0 -50px;
    margin-bottom: 55px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 527px;
    height: 457px;
    margin: 0;
  }
}

.contacts__button {
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 230px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    align-self: end;
    margin: 0;
  }
}

.contacts__definition {
  margin-left: 33px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 23px;
  }
}
