.contacts {
  padding-bottom: 40px;
  padding-top: 87px;

  background-image: url("../img/small-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  background-position: top;

  @media (min-width: $tablet-width) {
    background-size: auto 17px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    background-image: none;
    padding-bottom: 105px;
  }
}

.contacts__link {
  color: $based-gray-2;
  border-bottom: 1px solid $based-cyan-3;
  padding-bottom: 2px;
  padding-right: 12px;

  &:hover {
    color: $based-cyan-4;
  }

  &:active {
    color: rgba($based-cyan-4, 0.1);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
    padding-right: 0;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto calc(100% - 330px);
    padding-left: 175px;
    padding-top: 90px;
    background-image: url("../img/small-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 23px;
    background-position: top;
  }
}

.contacts__title {
  margin: 0 0 28px 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0 0 50px 0;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      right: 3px;
      top: -23px;
      background-image: url("../img/flag.svg");
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      left: -111px;
      top: 63px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    font-size: 53px;
    line-height: 57px;
    padding-top: 79px;
    margin-bottom: 22px;
    margin-right: 77px;

    &::after {
      left: -85px;
      top: 70px;
    }
  }
}

.contacts__info {
  @include list-reset;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 62px;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-column: 1/2;
  }
}

.contacts__email {
  margin-bottom: 30px;
  @media (min-width: $desktop-width) {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.contacts__email,
.contacts__address {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.contacts__map {
  display: block;
  margin: 0 -30px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 0 -50px;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.contacts__map img {
  width: 100%;
  height: 455px;

  @media (min-width: $tablet-width) {
    height: auto;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

.contacts__button {
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet-width) {
    width: 230px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    align-self: flex-start;
    margin: 0;
  }
}

.contacts__definition {
  margin-left: 33px;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}
