.copyright {
  display: flex;
  padding: 22px 20px 0 40px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding: 0;
  }
}

.copyright__text {
  @include list-reset;
  margin-right: 27px;
  font-size: 19px;
  padding-top: 3px;

  @media (min-width: $desktop-width) {
    padding: 3px 3px 0 0;
  }
}

.copyright__link {
  color: $black;

  svg {
    color: $based-cyan-2;
  }

  &:hover svg,
  &:focus svg{
    color: $based-cyan-4;
  }

  &:active svg {
    color: $based-cyan-4;
    opacity: 0.3;
  }
}
