.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  margin-right: 20px;
  font-size: 19px;
  padding-left: 39px;
  padding-top: 9px;
}

.copyright__link {
  svg {
    fill: $based-cyan-2;
  }

  &:hover svg {
    fill: $based-cyan-4;
  }

  &:active svg {
    fill: $based-cyan-4;
    opacity: 0.3;
  }
}
