.form__title {
  background-color: $based-gray-3;
  margin-bottom: 17px;
}

.form__description {
  font-size: 13px;
  color: $based-gray-2;
  margin-bottom: 25px;
}

.form__fieldset {
  border: none;
}

.form__legend {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $based-cyan-2;
}

.form__list {
  @include list-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.form__item {
  margin-bottom: 30px;
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: $based-gray-2;
}
