
.form-intro__title {
  @include list-reset;
  background-color: $based-gray-3;
  padding: 73px 0;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    padding: 101px 0 75px 0;
    margin: 0 auto 54px auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 102px 0 95px 0;
    margin: 0 auto 100px auto;
  }
}

.form-intro__description {
  padding-top: 17px;
  font-size: 13px;
  color: $based-gray-2;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 125px;
    padding-right: 125px;
  }
}
