.form {
  padding-bottom: 65px;
}


.form__fieldset {
  @include list-reset;
  border: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 66px 0;
    margin: 0;

    &--color {
      background-color: $based-gray-3;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 50px;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    padding-left: 95px;

    &--button {
      width: 100%;
      padding-left: 255px;
    }
  }
}

.form__legend {
  position: relative;
  width: 100%;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 20px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $based-cyan-2;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 60px);
    height: 1px;
    background: $based-cyan-3;
  }

  @media (min-width: $tablet-width) {
    margin-right: 103px;
    font-size: 19px;
    line-height: 18px;
    width: auto;

    &::after {
      content: "";
      display: none;
    }
  }
}

.form__list {
  @include list-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.form__item:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.form__note {
  @include list-reset;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__button {
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: auto;
    order: -1;
    margin-right: auto;
  }
}
