.form {
  padding-bottom: 65px;
}

.form__wrapper {
  @media (min-width: $desktop-width) {
    padding-right: 96px;
    padding-left: 96px;
  }
}

.form__fieldset {
  @include list-reset;
  border: none;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 66px 0;
    margin: 0;

    &--color {
      background-color: $based-gray-3;
      margin: 0 -50px;
      padding-left: 50px;
      padding-right: 50px;

      @media (min-width: $desktop-width) {
        margin: 0 -130px;
        padding-left: 130px;
        padding-right: 130px;
      }
    }
  }
}

.form__fieldset-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    &--button {
      width: 100%;
      padding-left: 175px;
    }
  }
}

.form__legend {
  position: relative;
  width: 100%;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $based-cyan-2;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 60px);
    height: 1px;
    background: #62d1ba;
  }

  @media (min-width: $tablet-width) {
    margin-right: 103px;
    font-size: 19px;
    line-height: 18px;
    width: auto;

    &::after {
      content: "";
      display: none;
    }
  }
}

.form__list {
  @include list-reset;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.form__item:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.form__note {
  @include list-reset;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__button {
  width: 100%;
  justify-content: center;

  &:hover {
    color: $white;
    background-color: #444444;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    order: -1;
    margin-right: auto;
  }
}
