.text-input {
  &__input {
    font-family: inherit;
    border: none;
    border-bottom: 2px solid $black;

    ::placeholder {
      font-size: 17px;
      line-height: 18px;
      color: $black;
      opacity: 0.3;
    }
  }

  &__textarea {
    border: 2px solid $black;
  }

  ::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $black;
    opacity: 0.3;
  }
}

.text-input__label {
  &--tel,
  &--email,
  &--textarea {
    color: $based-cyan-2;
    text-transform: uppercase;
  }
}
