.intro {
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet-width) {
    margin-top: -45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -75px;
  }
}

.intro__title {
  margin: 0;
  padding: 73px 0;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  background-color: $based-gray-3;

  @media (min-width: $tablet-width) {
    padding: 101px 0 85px 0;
    margin: 0 auto;
    font-size: 43px;
    line-height: 50px;
    background-image: url("../img/big-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 0 110px 0;
    margin: 0 auto;
    font-size: 53px;
    line-height: 57px;
    background-size: auto 34px;
  }
}

.intro__span {
  display: block;
}

.intro__description {
  padding-top: 17px;
  padding-bottom: 10px;
  font-size: 13px;
  color: $based-gray-2;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 20px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 102px 220px 0 225px;
  }
}
