.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;

  &--close {
    display: none;
  }

  &--open {
    display: block;
    background-color: rgba($white, 0.9);

    .modal__wrapper {
      animation: bounce $transition-slow;
    }
  }
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 28px 30px 46px;
  text-align: center;
  transform: translate(-50%, -50%);
  border: 1px solid $based-gray-7;
  background-color: $white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);


  @media (min-width: $tablet-width) {
    width: 566px;
    padding: 37px 108px 46px;
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__description {
  margin: 0;
  margin-bottom: 21px;
  font-size: 15px;
  line-height: 30px;
}

.modal__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.modal__span {
  width: 80px;
  height: 52px;
  display: block;
  padding: 12px;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgba($based-gray-2, 0.1);

  @media (min-width: $tablet-width) {
    width: 112px;
  }

  &:hover {
    border: 2px solid rgba($based-gray-2, 0.3);
  }
}

.modal__input:checked + .modal__span,
.modal__input:focus + .modal__span {
  border: 2px solid $based-cyan-2;
}

.modal__button {
  display: block;
  width: 100%;
  padding: 18px 10px;
  font-size: 17px;
  color: $white;
  background-color: $based-cyan-2;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

