
.modal-title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.modal-description {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 22px;
}

.modal__list {
  display: flex;
  @include list-reset;
}

.modal__label {
  display: block;
  border: 2px solid $based-gray-2;
  padding: 18px 21px;
  text-align: center;
  cursor: pointer;
}
