.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  font-family: $default-font;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

.page__index-intro,
.page__intro {
  border-top: 1px solid rgba($black, 0.1);

  @media (min-width: $tablet-width) {
    margin-top: -45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -75px;
  }
}
