.page-footer {
  background-color: $based-gray-3;
}

.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-bottom: 58px;
  }
}

.page-footer__logo-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 33%;
  }
}

.page-footer__logo {
  display: inline-block;
  vertical-align: middle;
  color: $black;

  &:hover svg,
  &:focus svg {
    color: $based-cyan-4;
  }

  &:active svg {
    color: $based-cyan-4;
    opacity: 0.3;
  }
}

.page-footer__social {
  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    width: 33%;
  }
}
