.product-card {
  border: 1px solid $based-gray-1;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    height: 100%;
  }
}

.product-card__wrapper {
  padding: 30px 28px 24px 28px;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 0 6px 10px rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba($black, 0.1);
  }

  &:focus {
    outline: none;
  }


  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-left: 33px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 100%;
    padding-left: 27px;
  }
}

.product-card__title {
  @include list-reset;
  font-weight: bold;
  font-size: 17px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }
}

.product-card__title-link {
  margin-bottom: 5px;

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.product-card__description {
  @include list-reset;
  font-size: 13px;
  line-height: 30px;
  color: $based-gray-2;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.product-card__image {
  @media (min-width: $tablet-width) {
    width: 50%;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 462px;
  }
}

.production-card__image-link {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-card__price {
  @include list-reset;
  font-size: 15px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.product-card__buy {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  border-top: 1px solid $based-gray-1;
}

.product-card__to-basket {
  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }
}
