.contacts {
  padding-top: 80px;
  padding-bottom: 70px;
}


.reviews__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 43px;
    line-height: 50px;
    margin-right: auto;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    font-size: 17px;
    order: 3;
  }
}

.reviews__item,
.reviews__author-address,
.reviews__text {
  @include list-reset;
}

.reviews__list {
  margin-bottom: 33px;
}

.reviews__text {
  line-height: 30px;
  color: $based-gray-2;
  margin-bottom: 33px;
}

.reviews__author-name {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews__button {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.reviews__toggles {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 75%;
    left: 65%;
    border: none;
    order: 4;
  }
}

