.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 50%;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.site-list__link {
  font-family: inherit;
  color: inherit;
  display: block;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 46px;
  width: 260px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-bottom: 31px;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 $based-gray-1, inset 0 1px 0 $based-gray-1;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 44%;

    &:nth-child(2n+2) {
      width: 50%;
    }

    &:nth-child(1) a,
    &:nth-child(2) a {
      font-size: 17px;
    }

    &:nth-child(n+3) a {
      padding-top: 19px;
    }

    &:nth-child(2n) a {
      padding-left: 35px;
      padding-right: 15px;
    }

    &:nth-child(4n+4) {
      padding-right: 27px;
    }

    &:first-child {
      border-right: 1px solid $based-gray-5;
    }
  }
}

.site-list__item:nth-child(3),
.site-list__item:nth-child(4) {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
