.slider__item {
  display: none;
  margin: 0;

  &--current {
    display: block;
  }
}

.slider__toggles {
  display: flex;
  margin-bottom: 38px;
  flex-wrap: wrap;
}

.slider__button {
  display: block;
  width: 50%;
  padding: 11px 42px 10px 38px;
  border: 1px solid $based-gray-1;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}
