.social {
  display: flex;
  justify-content: center;
  padding: 25px 60px;
  border-bottom: 1px solid $based-gray-4;
}

.social__list {
  @include list-reset;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  text-align: center;
}

.social-link {
  &:hover svg {
    fill: $based-cyan-4;
  }

  &:active svg {
    fill: $based-cyan-4;
    opacity: 0.3;
  }
}
