.social {
  border-bottom: 1px solid $based-gray-4;
}

.social__list {
  @include list-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}
