.text-input__input {
  position: relative;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid $black;
  display: block;
  width: 100%;
  background: transparent;
  padding: 16px 50px 13px 0;
  outline: none;

  &--tel,
  &--email {
    padding: 18px 50px 16px 0;
  }

  &:hover,
  &:focus {
    border-bottom: 2px solid $based-cyan-3;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
    color: $black;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      line-height: 18px;
      padding: 17px 50px 13px 18px;
    }

    &__textarea-wrapper {
      background-color: white;
    }
  }

}

.text-input__textarea {
  width: 100%;
  border: 2px solid $black;
  display: block;
  padding: 15px 15px 20px 15px;
  resize: vertical;
  outline: none;

  &:hover {
    border: 2px solid $based-cyan-3;
  }

  &:focus {
    border: 2px solid $based-cyan-3;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    opacity: 0.3;
    color: $black;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

.text-input__label {
  &--tel,
  &--email,
  &--textarea {
    position: relative;
    color: $based-cyan-2;
    text-transform: uppercase;
    font-weight: bold;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}


.text-input__span {
  font-size: 17px;
  line-height: 18px;

  &--tel,
  &--email,
  &--textarea {
    font-size: 17px;
    line-height: 18px;
    position: relative;
    display: block;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 60px);
      height: 1px;
      background: $based-cyan-3;
    }
  }

  &--textarea {
    margin-bottom: 22px;
  }

  &--email {
    &::after {
      width: calc(100% - 78px);
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-right: 25px;

    &--tel,
    &--email,
    &--textarea {
      width: 90px;
      font-size: 17px;
      margin-right: 100px;

      &::after {
        display: none;
      }
    }
  }
}


.text-input__wrapper {
  position: relative;
  width: 100%;

  &:hover,
  &:focus {
    svg {
      color: $based-cyan-3;
      opacity: 1;
    }
  }

  &--tel svg {
    position: absolute;
    width: 25px;
    height: 24px;
    right: 6px;
    top: 48%;
    transform: translateY(-50%);
    color: $black;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      right: 25px;
    }
  }

  &--email svg {
    position: absolute;
    width: 32px;
    height: 31px;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    color: $black;
    opacity: 0.2;

    @media (min-width: $tablet-width) {
      right: 25px;
    }
  }
}

.text-input {
  &--textarea {
    padding-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    &--textarea {
      padding-top: 50px;
      padding-bottom: 53px;
    }
  }
}
