.user-list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    order: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.user-list__link {
  position: relative;
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 28px 0 27px 46px;
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  color: currentColor;
  text-decoration: none;

  svg {
    position: absolute;
    left: 0;
    top: 31px;
    opacity: 0.2;
  }

  &:hover svg,
  &:focus svg {
    color: $based-cyan-2;
    opacity: 1;
  }

  &:active svg {
    fill: $based-cyan-2;
    opacity: 0.3;
  }


  &--search {
    @media (min-width: $tablet-width) {
      display: block;
      padding: 36px 31px 35px 33px;
      width: auto;
      border-left: 1px solid $based-gray-5;
      border-right: 1px solid $based-gray-5;

      &:hover {
        opacity: 1;
      }

      span {
        display: none;
      }

      svg {
        position: static;
        display: block;
      }
    }
  }

  &--basket {
    @media (min-width: $tablet-width) {
      width: auto;
      padding-top: 33px;
      padding-bottom: 32px;
      font-size: 17px;
      padding-left: 84px;

      @media (min-width: $desktop-width) {
        padding-left: 81px;
        padding-right: 2px;
      }

      svg {
        left: 33px;
        top: auto;
      }

      &:hover span,
      &:focus span {
        opacity: 0.6;
      }

      &:active span {
        opacity: 0.3;
      }
    }
  }
}

.user-list__item {
  box-shadow: 0 1px 0 $based-gray-1, inset 0 1px 0 $based-gray-1;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    &--search {
      width: 20%;
    }

    &--basket {
      width: 63%;
    }
  }
}
