
.user-list__link {
  font-family: inherit;
  color: inherit;
  display: block;
  padding: 28px 70px;
  min-height: 79px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  box-shadow: 0 1px 0 $based-gray-1, inset 0 1px 0 $based-gray-1;
}
