$black: #000000;
$white: #ffffff;
$based-gray-7: #c6c6c6;
$based-gray-6: #fafafa;
$based-gray-5: #e6e6e6;
$based-gray-4: #e5e5e5;
$based-gray-3: #f1f1f1;
$based-gray-2: #444444;
$based-gray-1: #ececec;
$based-cyan-6: #149080;
$based-cyan-5: #59d5bc;
$based-cyan-4: #46c1ae;
$based-cyan-3: #62d1ba;
$based-cyan-2: #63d1bb;
$based-cyan-1: #56c3b2;


$default-font: "Open Sans", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
